*{
    padding: 0;
    margin: 0;
}

/* root é utilizado para criar variaveis globais no css */
:root{
    --cor-primaria: #3498db;
    --cor-secundaria: #2ecc71;
    --cor-terciaria: #f5f5f5;
}

/* var(nome-da-variavel) retorna o valor de uma variavel */
.btn-menu {
    color: var(--cor-terciaria)
}